header {
    display: flex;
    justify-content: space-between;
    padding: 37px clamp(20px,1.54px + 5.13vw,100px);
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    background-color: #141D2F;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    max-width: 432px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 29px;

    a {
        color: white;
        text-decoration: none;
        font-size: 23px;
    }

    .language {
        display: flex;
        width: 72px;
        justify-content: space-between;

        p {
            font-size: 23px;
        }
    }

    a:hover,
    p:hover {
        color: #00BEE8;
        transition: ease-in-out 100ms;
        cursor: pointer;
    }
}

.highlight {
    color: #00BEE8;
    text-decoration: underline;
}

.language-mobile {
    display: none;
    width: 72px;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 23px;
        &:hover {
            color: #00BEE8;
            transition: ease-in-out 100ms;
            cursor: pointer;
        }
    }
}

.burger-menu-button {
    display: none;
}

.burger-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.burger-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.burger-menu a:hover,
.burger-menu a:focus {
    color: #f1f1f1;
}

.burger-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 60px;
}

@media(max-width: 960px) {
    .nav {
        display: none;
    }

    .burger-menu-button {
        display: block;
    }

    .language-mobile {
        display: flex;
    }
}

@media(max-height: 450px) {
    .burger-menu a {
        font-size: 20px
    }

    .burger-menu .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}