.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px clamp(40px,28px + 3.75vw,100px);
    border-top: 2px solid #00BEE8;
}


.logo {
    width: 120px;
    height: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: #00BEE8;
            transition: all ease-in-out 125ms;
        }
    }
}

.right {
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    gap: 42px;

    .logo {
        height: 30px;
        width: 30px;

        &:hover {
            height: 40px;
            width: 41px;
            background-repeat: no-repeat;
            transition: ease-in-out 100ms;
        }
    }

    #linkedin-logo {
        background-image: url('../../assets/img/linkedIn-button.png');

        &:hover {
            background-image: url('../../assets/img/linkedIn-logo-hover.png');
        }
    }

    #github-logo {
        background-image: url('../../assets/img/github-logo.png');

        &:hover {
            background-image: url('../../assets/img/github-logo-hover.png');
        }
    }

    #email-logo {
        background-image: url('../../assets/img/email-logo.png');

        &:hover {
            background-image: url('../../assets/img/email-logo-hover.png');
        }
    }
}

@media(max-width: 800px) {
    .footer {
        flex-direction: column;
        gap: 20px;

        h2 {
            text-align: center;
        }

        .right {
            justify-content: center;
        }
    }
}