<div class="footer">
    <div class="left">
        <img class="logo" src="./assets/img/logo2.png" alt="">
        <a href="imprint">Impressum</a>
    </div>
    <div class="mid">
        <p>© Dominik Grunow 2024</p>
    </div>
    <div class="right">
        <a href="https://github.com/DonDomenico" target="_blank" id="github-logo" class="logo"></a>
        <a href="mailto:info@dominik-grunow.de" id="email-logo" class="logo"></a>
        <a href="https://www.linkedin.com/in/dominik-grunow" target="_blank" id="linkedin-logo" class="logo"></a>
    </div>
</div>
