<div class="footer">
    <div class="left">
        <img class="logo" src="./assets/img/logo2.png" alt="">
        <a routerLink="imprint">{{'imprint footer' | translate}}</a>
    </div>
    <div class="mid">
        <p>© Dominik Grunow 2024</p>
    </div>
    <div class="right">
        <a href="https://github.com/DonDomenico" target="_blank" id="github-logo"><img src="./assets/img/github-logo.png" alt="" class="logo"></a>
        <a href="mailto:info@dominik-grunow.de" id="email-logo"><img src="./assets/img/email-logo.png" alt="" class="logo"></a>
        <a href="https://www.linkedin.com/in/dominik-grunow" target="_blank" id="linkedin-logo"><img src="./assets/img/linkedin-logo.png" alt="" class="logo"></a>
    </div>
</div>