<div class="about-me">
    <div class="left-side">
        <h1>About me</h1>
        <p>Hi, I am a Front-end Developer based in Windeck, Germany(...) Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad officia dignissimos similique aspernatur, unde placeat dolores quae omnis optio numquam inventore hic commodi ipsam quo nulla minus accusantium ab corrupti.</p>

        <div class="personal-things">
            <p><img src="./assets/img/bulb-icon.png" alt="">Some personal thing to share(...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam culpa et laudantium aliquid est dignissimos cumque totam temporibus consequuntur voluptates eum at sapiente minus quasi, maiores dicta excepturi blanditiis nulla?</p>
            <p><img src="./assets/img/puzzle-icon.png" alt="">Some personal thing to share(...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam culpa et laudantium aliquid est dignissimos cumque totam temporibus consequuntur voluptates eum at sapiente minus quasi, maiores dicta excepturi blanditiis nulla?</p>
        </div>
    </div>
    <div class="right-side">
        <img src="./assets/img/dominikg.png" alt="">
        <img id="blue-line-aboutme" src="./assets/img/blue-line-aboutme.png" alt="">
        <img id="background-aboutme" src="./assets/img/background-aboutme.png" alt="">
    </div>
</div>
