<div class="about-me" id="aboutme">
    <div class="left-side" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
        <h1>{{'about me' | translate}}</h1>
        <p>{{'about me text' | translate}}</p>

        <div class="personal-things">
            <p><img src="./assets/img/bulb-icon.png" alt="">{{'personal-thing1' | translate}}</p>
            <p><img src="./assets/img/puzzle-icon.png" alt="">{{'personal-thing2' | translate}}</p>
        </div>
    </div>
    <div class="right-side" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
        <img src="./assets/img/dominikg.png" alt="">
        <img id="blue-line-aboutme" src="./assets/img/blue-line-aboutme.png" alt="">
        <img id="background-aboutme" src="./assets/img/background-aboutme.png" alt="">
    </div>
</div>