
.contact {
    padding-top: 40px;
    padding-right: clamp(16px,-3.38px + 5.38vw,100px);
    padding-left: clamp(16px,-3.38px + 5.38vw,100px);
    padding-bottom: 160px;
}

.heading {
    display: flex;
    align-items: center;

    img {
        position: absolute;
        left: 0;
    }
}

.main {
    display: flex;
    margin-top: 100px;
    gap: 80px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 40%;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 32px;

    >div {
        height: 56px;

        &:nth-child(3){
            height: 220px;
        }
        &:nth-child(4) {
            height: auto;
        }
    }

    input,
    textarea {
        border: 1px solid #4B47FF;
        border-radius: 10px;
        background-color: #141D2F;
        padding: 15px 25px;
        color: white;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        line-height: 19px;
        width: 100%;
        box-sizing: border-box;

        &:hover {
            border-color: #00BEE8;
        }
    }

    input.ng-invalid, textarea.ng-invalid {
        border-color: #E61C40;
    }

    input.ng-untouched, textarea.ng-untouched {
        border-color: #4B47FF;
    }

    input.ng-valid, textarea.ng-valid {
        border-color: #70E61C;
    }

    #send-mail-button {
        align-self: center;
        border: unset;
        width: auto;
    }

    #send-mail-button.ng-valid:hover {
        background-color: #141D2F;
    }

    .error {
        color: red;
    }

    .success {
        color: green;
        text-align: center;
    }

    .privacy-checkbox {
        display: flex;
        gap: 8px;

        input {
            width: auto;
            &:hover {
                cursor: pointer;
            }
        }

        .privacy-policy {
            word-break: break-word;
        }
    }
}

@media(max-width: 800px) {
    .main {
        flex-direction: column;
        margin-top: 80px;
        gap: 48px;
    }

    .left-side, form {
        width: 100%;
    }

    .heading {
        justify-content: center;
    }
}

@media(max-width: 500px) {
    form {
        >div {
            height: 76px;

            &:nth-child(3){
                height: 220px;
            }
            &:nth-child(4) {
                height: auto;
            }
        }
    }
}

@media(width > 1920px) {
    .heading img {
        display: none;
    }
}


::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 19px;
}