<div class="contact" id="contact">
    <div class="heading" >
        <img src="./assets/img/blue-line-contact.png" alt="">
        <h1 data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">{{'contact heading' | translate}}</h1>
    </div>

    <div class="main">
        <div class="left-side" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out">
            <h2>{{'contact heading2' | translate}}</h2>
            <p>{{'contact p1' | translate}}</p>
            <p>{{'contact p2' | translate}}</p>
        </div>
        
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out">
            <div class="name-input">
                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" name="name" id="name" placeholder="{{'form name' | translate}}" required>
                @if (!name.valid && name.touched && !name.disabled) {
                    <span class="error">{{'error name' | translate}}</span>
                }
            </div>

            <div class="mail-input">
                <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="{{'form mail' | translate}}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                @if (!email.valid && email.touched && !email.disabled) {
                    <span class="error">{{'error mail' | translate}}</span>
                }
            </div>

            <div class="message-input">
                <textarea #message="ngModel" [(ngModel)]="contactData.message" name="message" id="message" placeholder="{{'form message' | translate}}" style="height: 200px; resize: none;" required></textarea>
                @if (!message.valid && message.touched && !message.disabled) {
                    <span class="error">{{'error message' | translate}}</span>
                }
            </div>

            <div class="privacy-checkbox">
                <input (click)="toggleCheckboxState()" type="checkbox">
                <p class="privacy-policy">{{'privacy policy1' | translate}} <a href="privacy policy" target="_blank">{{'privacy policy link' | translate}}</a>&nbsp;<span>{{'privacy policy2' | translate}}</span></p>
            </div>
            <input class="button" id="send-mail-button" type="submit" value="{{'submit button' | translate}}" [disabled]="enableSubmitButton(email, name, message)" [ngStyle]="{'background-color': checkbox && name.valid && email.valid && message.valid ? colorEnabled : colorDisabled, 'cursor': checkbox && name.valid && email.valid && message.valid ? cursorEnabled : cursorDisabled}">
        
            <span class="success" [hidden]="!submitted">{{'message send' | translate}}</span>
        </form>
    </div>
</div>
