.heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    margin-bottom: 60px;

    .line-left, .line-right {
        border: 2px solid #4B47FF;
    }

    .line-left {
        width: clamp(20px, -1.96px + 5.78vw, 109px);
    }

    .line-right {
        width: clamp(75px, -69.35px + 37.99vw, 660px);
    }
}

.text {
    font-size: 16px;
    line-height: 19px;
    white-space: pre-wrap;
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    gap: 120px;
    padding: 0 clamp(60px, 16.52px + 4.35vw, 100px);

    div.project:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
        section.links {
            justify-content: flex-end;
        }
    }
}

.project {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: clamp(80px, 22.86px + 7.14vw, 160px);
    

    .right-side {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 45%;
    }

    .tools {
        color: #00BEE8;
        font-size: 23px;
        line-height: 27.6px;
    }

    h3 {
        color: #4B47FF;
        font-size: 32px;
        line-height: 38px;
    }

    p {
        white-space: pre-wrap;
    }

    .links {
        display: flex;
        gap: 86px;
        height: 58px;

        .live-test-button:hover {
            padding: 15px 30px;
            background-color: #00BEE8;
        }

        .github-button {
            background-color: none;
        }
    }

    .background-image {
        position: absolute;
        width: 600px;
        z-index: -2;
        left: -200px;
        opacity: 0.3;
    }
}