<div id="portfolio">
    <div class="heading">
        <p class="line-left" data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out"></p>
        <h1 data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out">Portfolio</h1>
        <p class="line-right" data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out"></p>
    </div>
    <p class="text" style="text-align: center;" data-aos="fade-down" data-aos-duration="500" data-aos-easing="ease-in-out">{{'portfolio text' | translate}}</p>
    <div class="projects">
        @for (project of projects; track $index) {
            <div class="project">
                <div class="left-side" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
                    <img src="{{ project.img }}" alt="">
                    @if ($index == 1) {
                        <img class="background-image" src="./assets/img/background-portfolio-mid.png" alt="">
                    }
                </div>
                <div class="right-side" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
                    <h3>{{ project.title }}</h3>
                    <div class="tools">
                        @for (tool of project.tools; track $index) {
                            @if ($index == project.tools.length - 1) {
                                <span>{{ tool }}</span>
                            } @else {
                                <span>{{ tool }} | </span>
                            }
                        }
                    </div>
                    @switch ($index) {
                        @case (0) {
                            <p>{{'description project1' | translate}}</p>
                        }
                        @case (1) {
                            <p>{{'description project2' | translate}}</p>
                        }
                        @case (2) {
                            <p>{{'description project3' | translate}}</p>
                        }
                    }
                    <section class="links">
                        <a class="live-test-button button" href="{{ project.liveTest }}" target="_blank">Live test</a>
                        <a class="github-button button" href="{{ project.github }}" target="_blank">Github</a>
                    </section>
                </div>
            </div>
        }
    </div>
</div>
