.skills {
    display: flex;
    padding-left: clamp(60px, 16.52px + 4.35vw, 100px);
    padding-right: clamp(60px, 16.52px + 4.35vw, 100px);
    margin-bottom: 200px;
    gap: 160px;
}

.left-side {
    display: flex;
    gap: 40px 88px;
    width: 45%;
    flex-wrap: wrap;
    justify-content: space-between;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 88px;
        height: 100px;

        img {
            width: 60px;
            height: 60px;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .background-skills-blue {
        position: absolute;
        left: 0;
        z-index: -2;
        margin-top: 140px;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 34px;

    h1 {
        display: flex;
        align-items: center;
        line-height: 80px;

        img {
            position: absolute;
            right: 0;
            width: 58px;
        }
    }

    p {
        text-align: center;
    }

    .button-container {
        margin-top: 32px;
    }
} 