.skills {
    display: flex;
    padding-left: clamp(40px,24.71px + 3.92vw,100px);
    padding-right: clamp(40px,24.71px + 3.92vw,100px);
    margin-bottom: clamp(160px,86.32px + 10.53vw,200px);
    gap: clamp(100px,34.78px + 6.52vw,160px);
    overflow: hidden;
}

.left-side {
    display: flex;
    gap: clamp(40px,29.8px + 2.61vw,80px) clamp(40px,29.8px + 2.61vw,80px);
    width: 55%;
    flex-wrap: wrap;
    justify-content: space-between;

    .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 88px;
        height: 100px;

        img {
            width: clamp(40px,34.9px + 1.31vw,60px);
            height: clamp(40px,34.9px + 1.31vw,60px);
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .background-skills-blue {
        position: absolute;
        left: 0;
        z-index: -2;
        margin-top: 140px;
        opacity: 0.5;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 34px;

    h1 {
        display: flex;
        align-items: center;
        line-height: 80px;

        img {
            position: absolute;
            right: 0;
            width: 58px;
        }
    }

    p {
        text-align: center;
    }

    .button-container {
        margin-top: 32px;
    }
}

@media(max-width: 700px) {
    .skills {
        flex-direction: column-reverse;
        align-items: center;
    }

    .right-side, .left-side {
        width: 100%;
    }
}

@media(max-width: 400px) {
    .background-skills-blue {
        width: 300px;
    }
}