<div class="skills" id="skills">
    <div class="left-side">
        @for (icon of icons; track $index) {
            <div class="skill" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
                <img src="{{ icon.source }}" alt="">
                <p>{{ icon.text }}</p>
            </div>
        }
        <img class="background-skills-blue" src="./assets/img/background-skills-blue.png" alt="">
    </div>
    <div class="right-side">
        <h1>Skills<img src="./assets/img/blue-line.png" alt=""></h1>
        
        <p>{{'skills text' | translate}}</p>
        <div class="button-container">
            <a href="#contact" class="button contact-button">{{'get in touch' | translate}}</a>
        </div>
    </div>
</div>
