.main-page {
    height: 100vh;
    background-image: url('../../assets/img/vector_v2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 400px;
    background-size: 100% 100%;
}

@media(max-width: 1400px) {
    .main-page {
        background-size: unset;
    }
}