.main-page {
    height: 100vh;
    background-image: url('../../assets/img/vector_v2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: clamp(280px,91.43px + 28.57vw,400px);
    background-size: 100% 100%;
}

@media(max-width: 1400px) {
    .main-page {
        background-size: unset;
    }
}

@media(width > 1920px) {
    .main-page {
        background-image: none;
    }
}

@media(height > 1080px) {
    .main-page {
        height: 85vh;
    }
}