<app-header></app-header>
<div class='impressum'>
    <div class="heading">
        <h2>{{'imprint' | translate}}</h2>
        <a href=""><img src="./assets/img/back_arrow.png" alt=""></a>
    </div>
    <p>{{'imprint top' | translate}}</p><br>
    <p>Dominik Grunow<br>
        Im alten Weiher 1<br>
        51570 Windeck<br>
    </p><br>
    <p> <strong>{{'represent' | translate}}: </strong><br>
        Dominik Grunow<br><br>
    </p>
    <p><strong>{{'contact' | translate}}:</strong> <br>
        E-Mail: <a href='mailto:info@dominik-grunow.de'>info&#64;dominik-grunow.de</a></p><br>
    <p><strong>{{'disclaimer' | translate}}: </strong><br><br>
        <strong>{{'content liability' | translate}}</strong><br><br>
         {{'content liability text' | translate}}
        <br><br>
        <strong>{{'link liability' | translate}}</strong><br><br>
        {{'link liability text' | translate}}
        <br><br>
        <strong>{{'copyright' | translate}}</strong><br><br>
        {{'copyright text' | translate}}
        <br><br>
        <strong>{{'data privacy' | translate}}</strong><br><br>
        {{'data privacy text' | translate}}
        <br>
    </p><br>
    {{'impressum generator text 1' | translate}} <a href="https://www.impressum-generator.de">impressum-generator.de</a> {{'impressum generator text 2' | translate}} <a
        href="https://www.kanzlei-hasselbach.de/" rel="nofollow" target="_blank">Hasselbach</a><br><br>
    {{'pictures' | translate}} <a href="https://pixabay.com/de/users/buntom-4013912/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7132249" target="_blank">BunTom</a>
    <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7132249" target="_blank"></a> {{'pictures 2' | translate}}
    <a href="https://pixabay.com/de/users/jjuni-27151/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1135350" target="_blank">SJ</a>
    {{'pictures 3' | translate}} <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1135350" target="_blank">Pixabay</a><br>
    Back-Arrow {{'back arrow' | translate}} <a href="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:arrow_back:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=arrow+back&icon.size=24&icon.color=%235f6368" target="_blank">Google Fonts</a>   
</div>