@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.ttf');
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}

body {
    margin: 0;
    color: white;
    background-color: #141D2F;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: clamp(60px, 5.65px + 5.43vw, 110px);
    line-height: clamp(80px, 49.57px + 3.04vw, 108px);
}

h2 {
    font-size: clamp(40px, 3vw, 58px);
    line-height: clamp(54px, 36.61px + 1.74vw, 70px);
}

.button {
    border: unset;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
    line-height: 27.6px;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    &:hover {
        padding: 20px 40px 20px 40px;
        background-color: #4B47FF;
        cursor: pointer;
    }
}

.button-container {
    height: 40px;
    margin-top: 60px;
}

.contact-button {
    background-color: #00BEE8;
}

.live-test-button {
    background-color: #4B47FF;
    min-width: 100px;
}

.github-button {
    border: 1px solid #00BEE8;
    background-color: none;

    &:hover {
        background-color: #00BEE8;
        padding: 15px 30px;
    }
}