<div class="above-the-fold">
    <div class="atf-top">
        <img class="profile-image" src="./assets/img/dominikg.png" alt="">
        <img id="background-image" src="./assets/img/group-2.png" alt="">
        <div class="name-and-profession">
            <div class="top-side">
                <div class="left-side">
                    <p>I am</p>
                </div>
                <div class="right-side">
                    <h1>Dominik Grunow</h1>
                    <h2>{{'frontend developer' | translate }}</h2>
                </div>
            </div>
            <div class="button-container">
                <a href="#contact" class="button contact-button">{{'contact button' | translate}}</a>
            </div>
        </div>
    </div>

    <div class="atf-bottom">
        <div class="contact">
            <img class="blue-line" src="./assets/img/blue-line.png" alt="">
            <div class="social-media-logos">
                <a href="#github-profile" id="github-logo" class="logo"></a>
                <a href="#mail" id="email-logo" class="logo"></a>
                <a href="#linkedin-profile" id="linkedin-logo" class="logo"></a>
            </div>
            <a href="mailto:d.grunow@hotmail.de" id="email-address">d.grunow&#64;hotmail.de</a>
        </div>
        <div class="scroll-down-arrow">
            <img id="scroll-down-image" src="./assets/img/scroll-down.png" alt="">
        </div>
    </div>
</div>
