.above-the-fold {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-right: clamp(40px, 24.71px + 3.92vw, 100px);
    padding-left: clamp(40px, 24.71px + 3.92vw, 100px);
    padding-top: clamp(80px,73.08px + 1.92vw,110px);
}

.atf-top {
    display: flex;
    align-items: center;

    .profile-image {
        width: clamp(420px, 349.35px + 7.07vw, 485px);
    }

    #background-image {
        position: absolute;
        top: 222px;
        left: 12px;
        width: clamp(300px, 222px + 24.38vw, 690px);
        height: clamp(500px, 465.8px + 10.69vw, 671px);
        z-index: -2;
        opacity: 0.7;
    }

    #background-image2 {
        position: absolute;
        right: 0;
        top: 120px;
        z-index: -2;
        
        height: clamp(500px, 465.8px + 10.69vw, 671px);
    }
}

.atf-bottom {
    display: flex;
    margin-bottom: -780px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.name-and-profession {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.top-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side {
    >p {
        font-weight: 400;
        font-size: clamp(32px, 23.23px + 2.44vw, 70px);
        line-height: 76.8px;
        text-wrap: nowrap;
        transform: rotate(-90deg);
    }
}

.right-side {
    display: flex;
    flex-direction: column;

    >h1 {
        text-align: center;
    }

    >h2 {
        color: #4B47FF;
        text-align: center;
    }
}

.contact {
    display: flex;
    align-items: center;
    gap: 42px;

    .blue-line {
        width: 100px;
        margin-left: -100px;
    }
}

.social-media-logos {
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    gap: 42px;

    .logo {
        height: 30px;
        width: 30px;

        &:hover {
            height: 40px;
            width: 41px;
            background-repeat: no-repeat;
            transition: ease-in-out 100ms;
        }
    }

    #linkedin-logo {
        background-image: url('../../assets/img/linkedIn-button.png');

        &:hover {
            background-image: url('../../assets/img/linkedIn-logo-hover.png');
        }
    }

    #github-logo {
        background-image: url('../../assets/img/github-logo.png');

        &:hover {
            background-image: url('../../assets/img/github-logo-hover.png');
        }
    }

    #email-logo {
        background-image: url('../../assets/img/email-logo.png');

        &:hover {
            background-image: url('../../assets/img/email-logo-hover.png');
        }
    }
}

#email-address {
    color: white;
    text-decoration: none;
    font-size: 23px;
    line-height: 27.6px;
    font-family: 'Poppins', sans-serif;

    &:hover {
        color: #00BEE8;
        text-decoration: underline;
    }
}

#scroll-down-image {
    width: 28px;
    height: 160px;
    display: flex;
}

@media(max-width: 800px) {
    .scroll-down-arrow {
        display: none;
    }

    #email-address {
        display: none;
    }
}

@media(max-width: 685px) {
    .top-side {
        flex-direction: column;
    }

    p {
        transform: none !important;
    }

    #background-image {
        display: none;
    }
}

@media(max-height: 800px) {
    #background-image {
        height: 500px !important;
    }

    .atf-bottom {
        margin-bottom: -656px;
    }
}

@media(width > 1920px) {
    #background-image {
        display: none;
    }
}